<h3>{{titulo}}</h3>
<hr>

<div *ngIf="!productos">
	Cargando...
</div>
<div *ngIf="productos">
	<div class="row">
		<div class="col-lg-3" *ngFor="let producto of productos">
			<div class="img-thumbnail">
				<div *ngIf="producto.imagen" class="imagen_container">
					<img src="{{producto.imagen}}" class="producto_imagen"/>
<!--					<img src="" class="imagen_relleno"/>  -->
				</div>
				<div *ngIf="!producto.imagen">
<!--					<img src="http://localhost:8080/noImagen.jpg" class="imagen_relleno"/>  -->
					<img src="" class="imagen_relleno"/>
				</div>

				<div class="caption">
					<h3>{{producto.nombre}}</h3>
					<p>{{producto.precio}}€</p>
					<div class="botones" *ngIf="confirmado != producto.id">
						<a [routerLink]="['/producto',producto.id]" class="btn btn-sm btn-primary">Ver</a> 
						<a [routerLink]="['/editar-producto', producto.id]" class="btn btn-sm btn-warning">Editar</a> 
						<a (click)="borrarConfirm(producto.id)" class="btn btn-sm btn-danger">Eliminar</a> 
					</div>
					<div class="seguro" *ngIf="confirmado == producto.id">
						<a (click)="onDeleteProducto(producto.id)" class="btn btn-sm btn-danger">Quiero eliminarlo</a> 
						<a (click)="cancelarConfirm()" class="btn btn-sm btn-warning">Cancelar</a> 
					</div>

				</div>
			</div>
		</div>
	</div>
</div>